html
{
    font-size: 62.5%;
}
body
{
    
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    
}
a
{
    text-decoration: none;
}
/*header*/
.header
{
    display: flex;
    background: #00695C;
    color: goldenrod;
    margin-top: 0px;
    font-size: 3.5rem;
    align-items: center;
    height: 6rem;
    justify-content: center;
    margin-bottom: 0px; 
    font-weight: 700;
}


/*nav*/


.meal
{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 35rem; 
    margin-top: 4rem;
    
    
}


.meal li
{

    position: relative;
    box-shadow: 0px 0px 10px #c7c7c7;
    margin:3%;    
    
}
.meal a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 18rem;   
    transition: 0.5s;
    
}
.meal a:hover
{
    transform: scale(1.3);
    opacity: 0.7;
    
}
.meal h3
{
    margin-bottom: 0;
}


.meal__meal-1
{
    background: #ffeada; 
}

.meal__meal-1 i
{
    
    font-size: 2rem;
    background: linear-gradient(to right,#f00d0d    
    ,#fdc270);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.meal__meal-1 h3{
    margin-top: 0px;
    margin-bottom: 1rem;
    font-family: 'Devonshire', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1.5rem;
}
.meal__meal-1 h2
{
    font-family: 'itim', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: black;
    margin-top: 0px;  
}
.meal__meal-2
{
    background: #f1e0e6;
}

.meal__meal-2 h3
{
    font-family: 'kurale', sans-serif;
    font-size: 1rem;
    background: linear-gradient(to right,#fb5300    
    ,#3333ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
    
}
.meal__meal-2 h2
{
    font-family: 'abril fontface', sans-serif;
    color: #e2a552;    
}
.meal__meal-3
{
    background: #f0f0f0;
}
.meal__meal-3 h3
{
    font-family: 'dancing script', sans-serif;
    
    background: linear-gradient(to right,#262a9f    
    ,#3397af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.meal__meal-3 h2
{
    font-family: 'chilanka', sans-serif;
    
    color: #3397af;
}
.meal__meal-4
{
    background: #fff2f7;
}
.meal__meal-4 h3
{
    font-family: 'kaushan script', sans-serif;
   
    color: #3da33d;
    background: linear-gradient(to right,#336d33  
    ,#9fff4c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.meal__meal-4 h2
{
    font-family: 'chilanka', sans-serif;
   
    color: #3da33d;
    
}

/*section prochainement*/
.btn-next
{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.btn-next__saving
{
    display: flex;
    background: #00695C;
    color: goldenrod;
    width: 18rem;
    height: 30px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 40px;
    
    
}

/*footer*/

.footer
{
    display: flex;
    height: 3rem;
    background: #00695C;
    color: goldenrod;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    
    
    
    
}
.footer__wiggle
{
    color: goldenrod;
    margin: 0rem 2rem;
    font-size: 1.3rem;
    font-weight: 600;
 
}


@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.footer__wiggle  {
  
  animation: wiggle 2s infinite;
}

.footer__wiggle:hover {
  animation: none;
}



.btn-next__saving:after {

animation: dotty 2s infinite;
content: '';
}
@keyframes dotty {
0%   { content: ''; }
25%  { content: '.'; }
50%  { content: '..'; }
75%  { content: '...'; }
100% { content: ''; }
}




@media (min-width: 1010px)
{
    .meal a
    {
       width: 18rem;
        height: 24rem;
        font-size: 170%;
        
    }
    .meal a:hover
    {
        transform: scale(1.2)
    }
    .meal--meal-1 i
    {
        font-size:  3.4rem;
    }
    .meal--meal-1 h3
    {
        font-size: 2.35rem;
    }
    .meal--meal-2 h3
    {
        font-size: 1.6rem;
    }
   
    
}
@media (min-width: 768px)
{
    .header
    {
        font-size: 4.48rem;
        height: 77px;
        
    }
    .footer__wiggle
    {
        font-size: 1.664rem;
        
    }
    .footer
    {
        height: 38.39px;
    }
    .btn-next h4
    {
        font-size: 1.664rem;
    }
   
    
}

    